name: Pluto Check


on:
  push:
    branches: [ "test" ]
    paths: ["carvisor/kubernetes/**"]
  pull_request:
    branches: [ "main" ]
    paths: ["carvisor/kubernetes/*"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Download Pluto
        uses: FairwindsOps/pluto/github-action@master

      - name: Use pluto
        id: check
        run: |
          echo "output=$(pluto detect-files -d carvisor/kubernetes --ignore-removals --ignore-deprecations)" >> $GITHUB_ENV

      # - name: comment pluto output
      #   uses: actions/github-script@0.9.0
      #   continue-on-error: true
      #   env:
      #     CHECK: ${{ steps.check.output.stdout  }}
      #   with:
      #     github-token: ${{ secrets.GITHUB_TOKEN}}
      #     script: |
      #       const output == `#### Pluto Checks \`${{steps.check.outcome}}\`

      #       <details><summary>
      #       \`\`\`\n
      #       ${process.env.CHECK}
      #       *Pusher: @{{ github.actor}}, Action \`${{ github.event_name }}\`*`;
      #       github.issues.createComment({
      #         issue_number: context.issue.number,
      #         owner: context.repo.owner,
      #         repo: context.repo.repo,
      #         body: output
      #       })
      - name: post comment
        uses: thollander/actions-comment-pull-request@v2
        with:
          message: |
            `Depracated Manifests`
            ${{ env.output }}
         # github_token: ${{ secrets.GITHUB_TOKEN }}
