name: Pluto Check


on:
  push:
    branches: [ "main" ]
    paths: ["carvisor/kubernetes/**"]
  pull_request:
    branches: [ "main" ]
    paths: ["carvisor/kubernetes/*"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Download Pluto
        uses: FairwindsOps/pluto/github-action@master

      - name: Use pluto
        run: |
          pluto detect-files -d carvisor/kubernetes
